<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoggyShop</title>
    <link rel="stylesheet" href="{% static 'img/LogoDoggyshop.jpg' %}">
    <link rel="stylesheet" type="text" href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    

</head>
<body style="background-color: white;">
    {% load static %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark"><!--Incio_Encabezado-->
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/LogoDoggyshop.jpg' %}" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="javascript:void(0)">DoggyShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" style="color:white ;" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'galeriaDeAdopcion' %}" style="color:white ;" >Galeria de adopcion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quienesSomos' %}" style="color:white ;" >Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'productos' %}" style="color:white ;" >Productos</a>
        </li>       
      </ul>
      <div class="d-felx">
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link me-2" href="{% url 'contacto' %}" style="color:white ;" >Contacto</a>      
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" style="color:white ;" >Cerrar sesión</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white ;" >{{ user.username }}</a>
              </li>

            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color:white ;">Iniciar sesión </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}" style="color:white ;">Registrate </a>
              </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    </div>
  </nav><!--Fin_Encabezado-->
  
    

    {% block contenido %}
    {% endblock %}

  
    <!--Footer-->
      <footer class="bg-dark text-center text-white">
        <div class="container p-4">
          <h5>Nuestras redes</h5>
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-floating m-1" href="https://www.facebook.com/" role="button">
              <i class="fab fa-facebook-f">
                <img src="{% static 'img/facebook.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
              </i></a>
            <!-- Twitter -->
            <a class="btn btn-floating m-1" href="https://twitter.com/" role="button">
              <i class="fab fa-twitter">
                <img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
              </i></a>
            <!-- Instagram -->
            <a class="btn btn-floating m-1" href="https://www.instagram.com/" role="button">
              <i class="fab fa-instagram">
                <img src="{% static 'img/instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;">
              </i></a>
          </section>
    <section class="">
      <div class="row">
        <div class="text-center ">

          <ul class="list-unstyled mb-0">
            <li>
              <a href="Consultas@doggyshop.cl" class="text-white">Correo de Contacto</a>
            </li>
            <li>
              <a href="https://goo.gl/maps/z9iwdmw16eHijmjW8" class="text-white">Av. Esq. Blanca 501, Maipú</a>
            </li>
            <li>
              <a href="#!" class="text-white">Fono: +56912345678</a>
            </li>
            
          </ul>
        </div>       
      </div>
    </section>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{% static 'js/funciones.js' %}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire({
            "title": "Felicitaciones",
            "text" : "{{m}}",
            "icon" : "success"
          })
        </script>
      {% endfor %}
    {% endif %}

{% block jc %}
{% endblock %}


</body>
</html>