{% extends 'base.html' %}
{% block contenido %}
<script>
  function MostrarFecha() 
  {   
    document.getElementById('demo').innerHTML = Date();         
  }
</script>

<main>
  {% load static %}
        <!--Primera Card-->
        <hr>
        <div class="container">
            <h3>Horario de atencion de adopcion 10:00hrs a 18:00hrs</h3>
            <input type="button" class="btn btn-primary" onclick="MostrarFecha()" value="Mostrar Hora Fecha">
            <p id="demo"></p>
        </div>
        <br>
        <hr>
        <br>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion01.jpg' %}" class="img-fluid rounded-start" alt="adopcion01">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">Gaspy</h4>
                        <p class="card-text">Gaspy fue rescatado de un ambiente malo, fue esterilizado, vacunado. Es un perrito muy joven aún, 
                            tiene un año. Es sumamente cariñoso, alegre a pesar de todo, se vuelve loco de amor por cualquiera Necesita mucho
                            amor, no queremos que vuelva a sufrir y estar donde no lo quieren. Su tamaño es mediano, tiene energía, ama todo 
                            tipo personas. Si quieres ser su familia favor llenar formulario online en el link 
                        </p>
                        <p class="card-text"><small class="text-muted">https://linktr.ee/fundacion_vyra </small></p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6913" class="btn btn-primary" id="adopcion01">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>

          <br>
          <hr>
          <br>
        <!--Segunda Card-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion02.jpg' %}" class="img-fluid rounded-start" alt="adopcion02">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">LISA</h4>
                        <p class="card-text">
                            Mestizos de Collie (mamá mestiza Collie padre desconocido). Fueron rescatados de un lugar límite de la reina, 
                            estaban mal y en peligro. Han sido rescatados buscando una segunda oportunidad Son adorables, demasiado tiernitos 
                            y cariñosos. Su tamaño será mediano entre 15 a 25 kilos. Tienen 2 meses y se les puso su primera dosis de vacuna
                             octuple. Si deseas adoptar llena formulario de pre adopción online en el
                        </p>
                        <p class="card-text"><small class="text-muted">https://linktr.ee/fundacion_vyra </small></p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6908" class="btn btn-primary" id="adopcion02">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>

          <br>
          <hr>
          <br>

        <!--Tercer Card-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion03.jpg' %}" class="img-fluid rounded-start" alt="adopcion03">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">DANTE</h4>
                        <p class="card-text">
                            Mestizos de Collie (mamá mestiza Collie padre desconocido). Fueron rescatados de un lugar límite de la reina, estaban mal 
                            y en peligro. Han sido rescatados buscando una segunda oportunidad Son adorables, demasiado tiernitos y cariñosos. Su tamaño 
                            será mediano entre 15 a 25 kilos. Tienen 2 meses y se les puso su primera dosis de vacuna octuple. Si deseas adoptar llena 
                            formulario de pre adopción online en el link 
                        </p>
                        <p class="card-text"><small class="text-muted">https://linktr.ee/fundacion_vyra </small></p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6907" class="btn btn-primary" id="adopcion03">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <hr>
        <br>

        <!--Cuarto Card-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion04.jpg' %}" class="img-fluid rounded-start" alt="adopcion04">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">Munír</h4>
                        <p class="card-text">
                            Munír es un perrito intenso, cariñoso muy inteligente, aprende rápido, es muy protector, es sociable con otros perros, 
                            es una gran compañía para no sentirse nunca solo. Dale una oportunidad de compartir tu vida. Es de tamaño mediano 
                            tiene 2 años está esterilizado con sus vacunas al día y chipeado.
                        </p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6892" class="btn btn-primary" id="adopcion04">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <hr>
        <br>

        <!--Quinto Card-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion05.jpg' %}" class="img-fluid rounded-start" alt="adopcion05">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">Gatito bebe</h4>
                        <p class="card-text">
                            Gatito macho en adopcion Tiene 2 meses Sabe hacer en arenero Buscamos familia que viva en departamento 
                            con malla Interesados contactar al whatsap de la publicacion o al correo 
                        </p>
                        <p class="card-text"><small class="text-muted">barbara.cbs@hotmail.es </small></p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6888" class="btn btn-primary" id="adopcion05">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <br>

        <!--Sexto Card-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'img/adopcion06.jpg' %}" class="img-fluid rounded-start" alt="adopcion06">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Nombre</h6>
                        <h4 class="card-title">DAKOTA</h4>
                        <p class="card-text">
                            Hola! Perrita encontrada en situación de abandono y requiere de un hogar, tiene 4 meses, 
                            esta desparasitada y con 1 de sus 3 vacunas
                        </p>
                        <a href="https://www.lascondes.cl/mascotas/detalle/6869" class="btn btn-primary" id="adopcion06">Adoptar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}